html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    /* background-image: url('../img/hypnotize.png'); /*img downloaded from pngtree*/
    font-family: 'Rock Salt', cursive;
    color: black;
    background-color: #fa5050;
}

.emphasis {
    color: cornflowerblue;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fa5050;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 3em;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 18px black;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 880px;
    min-height: 680px;
    /* background: #ffffff url('../img/hypnotize.png'); /* Background pattern from Subtle Patterns */
    background: linear-gradient(160deg, #cc1313, #9e0404);
    padding: 32px 32px 0 32px;
    border-radius: 80px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #fcecc9;
    font-size: 0;
    border-radius: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin-bottom: 32px;
}

.deck .card.open {
    transform: rotateY(0);
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    background: #fcecc9;
    border: 8px solid #fcecc9;
    box-shadow: inset 0 0 0 2px #fa5050;
    animation-name: flip;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible;
    animation-duration: .5s;
}

.deck .card.match {
    cursor: default;
    font-size: 33px;
    background: #fa5050;
    border: 8px solid #fa5050;
    box-shadow: inset 0 0 0 2px yellow;
    animation-name: stretch;
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible;
    animation-duration: .75s;
}

.deck .card.disable {
  pointer-events: none;
  /* This prevents matching a card with itself */
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    font-size: 1.2em;
    text-align: left;
    width: 680px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fcecc9;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

.score-panel .stars,
.modal .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin: 0 5px 0 0;
    color: gold;
}

.score-panel .stars li,
.modal .stars li {
    list-style: none;
    display: inline-block;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 1em;
    background-color: #cc1313;
}

.score-panel .fa.fa-repeat {
    font-size: 1.4em;
    color: white;
    cursor: pointer;
    text-align: center;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 0.25em;
    background-color: #cc1313;
    transition: all 300ms ease;
}

.score-panel .fa.fa-repeat:hover {
    transition: all 300ms ease;
    transform: rotate(90deg);
}

/* Modal */
.modal {
    position: fixed;
    z-index: 99;
    padding-top: 100px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    text-align: center;
    font-size: 1.5em;
    position: absolute;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 1em;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.modal-header {
    padding: 0.5em 0.5em;
    background-color: #fa5050;
    color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.modal-header h2 {
    font-weight: normal;
    padding: 0 0.5em 0 0.5em;
    margin: 0;
}

.modal-body {
  	padding: 2px 16px;
    background-color: #fcecc9;
}

.modal-footer {
    padding: 0.5em 0.5em;
    background-color: #fa5050;
    color: white;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}


/* Modal Close Button */
.close {
    color: white;
    float: right;
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    width: 1.5em;
    line-height: 1.5em;
    border-radius: 0.25em;
    background-color: #cc1313;
    cursor: pointer;
    transition: all 300ms ease;
}

.close:hover,
.close:focus {
    background-color: #9e0404;
}

.display-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Play Again Button */

.play-again-modal {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  color: white;
  padding: 1em 2em;
  background-color: cornflowerblue;
  border-radius: 10px;
  transition: all 0.1s;
  -webkit-transtion: all 0.1s;
}

.play-again-modal:hover {
  background-color: gold;
}

.pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover, .pulse:focus, .pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/* Animations */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes stretch {
  from {transform: scale3d(1, 1, 1);}
  30% {transform: scale3d(1.25, 0.75, 1);}
  40% {transform: scale3d(0.75, 1.25, 1);}
  50% {transform: scale3d(1.15, 0.85, 1);}
  65% {transform: scale3d(.95, 1.05, 1);}
  75% {transform: scale3d(1.05, .95, 1);}
  to {transform: scale3d(1, 1, 1);}
}


@keyframes flip {
  from {transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
  animation-timing-function: ease-in;
  opacity: 0;}
  40% {transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
  animation-timing-function: ease-in;}
  60% {transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
  opacity: 1;}
  80% {transform: perspective(400px) rotate3d(0, 1, 0, -5deg);}
  to {transform: perspective(400px);}
}

/* Pulse */
@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}
@keyframes pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* Media Queries */

@media only screen and (min-width: 541px) and (max-width: 950px) {
  .deck {
    max-width: 450px;
    min-height: auto;
    padding-bottom: 15px;
    padding-right: 15px;
  }

  .deck .card {
    height: 75px;
    width: 75px;
    margin-right: 17px;
    margin-bottom: 17px;
    padding-bottom: 8px;
  }

  .score-panel {
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;
    margin-bottom: 1em;
    padding-bottom: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  }
}

@media only screen and (max-width: 540px) {
    .deck {
      max-width: 300px;
      min-height: auto;
      padding-bottom: 15px;
    }

    .deck .card {
      height: 50px;
      width: 50px;
      margin-bottom: 17px;
      padding: 6px;
    }

    .deck .card.show {
        border: 4px solid #fcecc9;
        box-shadow: inset 0 0 0 2px #fa5050;
    }

    .deck .card.match {
        border: 4px solid #fa5050;
        box-shadow: inset 0 0 0 2px yellow;
    }

    .score-panel {
      border-bottom-left-radius: 2em;
      border-bottom-right-radius: 2em;
      margin-bottom: 1em;
      padding-bottom: 10px;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    }

    .modal-content {
      font-size: 0.75em;
    }
}

@media only screen and (max-width: 780px) {
  .score-panel {
    display: block;
    text-align: center;
    line-height: 1.7em;
    justify-content: space-between;
    max-width: 300px;
  }

  h1 {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }
}
